<h1>Cadastrar nova cor</h1>
<form action="/cores" method="POST">
    <div class="form-group">
        <label for="nome">Nome da Cor:</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <div class="form-group">
        <label for="codigo">Código Hexadecimal:</label>
        <input type="text" class="form-control" id="codigo" name="codigo" placeholder="#FFFFFF" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
