<h1>Detalhes da Cor</h1>

<p>ID: <%= cor.id %></p>
<p>Nome: <%= cor.nome %></p>
<p>Código Hexadecimal: <%= cor.codigo %></p>
<p>Visualização:</p>
<div style="width: 100px; height: 100px; background-color: <%= cor.codigo %>; border: 1px solid #000;"></div>

<a href="/cores" class="btn btn-primary">Voltar à Lista</a>
